@media (max-width: 500px) {
  .navbar button {
    margin: 3px;
    margin-right: 0;
    width: 100%;
  }
}

.accordion-body td:nth-child(2) {
  width: 33%;
  min-width: 33%;
  max-width: 50%;
}

tr td:nth-child(2) {
  max-width: 50vw;
  overflow-wrap: anywhere;
}

.footer p {
  font-size: .875em;
}

.alert {
  text-align: center;
}

.accordion-body td {
  cursor: pointer;
}

h3 {
  padding-top: .25em;
}

button.back {
  text-decoration: underline;
  border: 0;
  background: none;
  padding: 0;
  color: #0a58ca;
}

button.link {
  border: 0;
  background: none;
  text-decoration: underline;
  color: #0a58ca;
  padding: 0;
}