@media (max-width: 500px) {
  .navbar button {
    margin: 3px;
    margin-right: 0;
    width: 100%;
  }
}

.accordion-body td:nth-child(2) {
  width: 33%;
  min-width: 33%;
  max-width: 50%;
}

td:nth-child(2) {
  max-width: 50vw;
}

.footer p {
  font-size: .875em;
}

.alert {
  text-align: center;
}

.accordion-body td {
  cursor: pointer;
}

h3 {
  padding-top: .25em;
}