@media (max-width: 500px) {
  .navbar button {
    margin: 3px;
    margin-right: 0;
    width: 100%;
  }
}

td:nth-child(2) {
  width: 33%;
  min-width: 33%;
  max-width: 50%;
}

.footer p {
  font-size: .875em;
}